div class="base-text"
  p This are admin tools for Science for Change Kosovo.
  p Please manage Diffusion Tube, Smart Citizen Kit and Ghost Wipes data using tools behind links above.
  p In case of any questions or feedback please do not hesitate to get in touch: <a href="mailto:jani@turunen.in">jani@turunen.in</a>
