h1 Call for Participants

p The Digital Bootcamp “Make Tech. Make Actions. Make Sense” is part of the "Making Sense EU" project funded by EU and implemented by NGO "Peer Educators Network and Science for Change Movement. The Digital Bootcamp invites for all young activists concerned with environmental pollution to apply for the Bootcamp, which will take place between 28-30 October 2016 in Prishtina.

p style="font-variant:small-caps"
  a href="https://docs.google.com/forms/d/e/1FAIpQLSfXCqKYie2qgJT9_ms-3JHspMBeIcrh5Q66O_wQWz3zP_4rOw/viewform?usp=send_form" Click here to sign up

p The Digital Bootcamp aims to develop competences and skills, and build capacities of 30-35 young activists (between 16-27 years) to take an active role in "Making Sense EU" project through variety of actions: air pollution monitoring, data collection and visualization, evidence-based advocacy campaigning, and non-formal environmental education. The Digital Bootcamp is based on blended learning, combining theoretical and practical learning. The training workshop is based on principles of non-formal education, being learner-centred and highly participatory.

p The selected participants for the Bootcamp will join the Movement and will be part of the Committees, responsible for the project actions and activities. Furthermore, the selected participants will also design the first campaign which will be implemented around November, 2016.

p Find the draft Programme of the Digital Bootcamp: http://bit.ly/2e8pibQ

p DEADLINE: 20 October 2016, midnight.

p style="font-variant:small-caps"
  a href="https://docs.google.com/forms/d/e/1FAIpQLSfXCqKYie2qgJT9_ms-3JHspMBeIcrh5Q66O_wQWz3zP_4rOw/viewform?usp=send_form" Click here to sign up

p Participation is FREE and all the expenses will be covered by the organizers.

p Find more information about Science for Change Kosovo Movement: www.citizenscienceks.org
p Find more information about Peer Educators Network: http://www.ngo-pen.org/
p Find more information about Making Sense EU project: http://making-sense.eu/

