// Make sure the charset is set appropriately
@charset "UTF-8";


// normalize
@import "normalize";

// Global Foundation Settings
@import "foundation/settings";
@import "foundation/functions";

$topbar-height: 70px;
$body-font-family: "Questrial", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$h2-font-reduction: rem-calc(22);

// You can import only specific elements by adjusting the import below
@import "foundation";

// Import fonts
@import url(http://fonts.googleapis.com/css?family=Questrial);
@import url(http://fonts.googleapis.com/css?family=Exo:300);

// Colours
$white: #ddd; 
$blue: #81CECF;
$dark-blue: #487174;
$orange: #998445;
$black: #1C2F31;

.black {
  background: $black;
  color:$white;
}

.dark-blue {
  background: $dark-blue;
  color:$white;
}

.dark-blue h3 {
  font-family: 'Exo', sans-serif;
  color:$white;
}

.row-margins {
  padding-top:75px;
  padding-bottom:75px;
}

.full-width {
  min-width:100% !important;
}
.hero {
  position:relative;
}
.hero .caption {
  position:absolute;
  top:5px;
  left:0px;
  right:0;
  bottom:10px;
  overflow:auto;
}
.hero .caption-inner {
  display:table;
  width:100%;
  height:80%;
}
.hero .caption-content {
  font-size:40px;
  display:table-cell;
  text-align: center;
  vertical-align:bottom;
  font-variant:small-caps;
  padding:0 50px 0 50px;
}
h2 {
  font-family: 'Exo', sans-serif;
  color: $white;
  text-rendering: auto;
}
.small-print {
  font-size:12px;
  font-variant:normal;
}
.sfc-logo {
  width:150px;
}
.logo-container {
  width:250px;
  text-align:center;
}
.logo {
  height:50px;
}
.navigation-button {
  background: transparent;
}
.top-bar {
  background: transparent !important;
  font-family: "Questrial";
}
.top-bar-section ul li {
  background: transparent !important;

}
.top-bar-section li:not(.has-form) a:not(.button) {
  font-family: "Questrial", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-variant: small-caps;
  color: #000;
  background: transparent !important;
}
.top-bar-section li:not(.has-form) a:not(.button):hover {
  font-family: "Questrial", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-variant: small-caps;
  color: #000;
  text-decoration:underline;
}
